# Archivos de sistema operativo
.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db

# Directorios de editores y entornos de desarrollo
.vscode/
.idea/
*.swp
*.swo

# Registros y temporales
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de dependencias (si aplica)
node_modules/
